@{
    ViewData["Title"] = "Home Page";
}

@*Splash Page welcoming the user to the iSchool website*@
<div class="text-center">
    <h1 class="display-4">Welcome to the iSchool</h1>
    <p></p>
</div>
